{% extends "base.html" %}

{% block main_content %}
    {% if current_user.is_authenticated %}
        <div class="alert alert-primary h1" role="alert">Привет, {{ current_user.name }}!</div>
    {% else %}
        <div class="alert alert-primary h1" role="alert">Привет, {{ username }}!</div>
    {% endif %}
        <table class="table table-light table-striped table-bordered border-primary table-hover">
        {% for item in news %}
            <tr>
                <td>
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.content }}</p>
                    <h3>Автор: {{ item.user.name }}</h3>
                    <p>Дата публикации: {{ item.created_date | date_format('%d.%m.%Y %H:%M') }}</p>
                </td>
                <td>
                    <h3>Об авторе: {{ item.user.about }}</h3>
                    {% if item.user.is_admin() %}
                        <p>Он администратор сайта</p>
                    {% else %}
                        <p>Он пользователь без прав модерации</p>
                    {% endif %}
                </td>
                {% if current_user.is_authenticated and current_user == item.user %}
                <td class="align-middle text-center">
                    <a href="/edit/{{ item['id'] }}" title="Редактировать новость {{ item['title'] }}">&#9998;</a>
                </td>
                <td class="align-middle text-center">
                    <a href="/del/{{ item['id'] }}"
                       title="Удалить новость {{ item['title'] }}"
                       onclick="return confirm('Правда удалить новость {{ item['id'] }}');">&#128465;</a>
                </td>
                {% else %}
                <td class="align-middle text-center text-danger bg-warning" title="Нет прав редактирования">
                    X
                </td>
                <td class="align-middle text-center text-danger bg-warning" title="Нет прав удаления">
                    X
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
{% endblock %}
