{% extends "base.html" %}

{% block main_content %}
    <div class="alert alert-primary h1" role="alert">Привет, {{ current_user.name }}!</div>
        <table class="table table-light table-striped table-bordered border-primary table-hover">
        {% for item in news %}
            <tr>
                <td>
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.content }}</p>
                    <h3>Автор: {{ item.user.name }}</h3>
                    <p>Написано: {{ item.get_days() }} назад</p>
                </td>
                <td>
                    <h3>Об авторе: {{ item.user.about }}</h3>
                    {% if item.user.is_admin() %}
                        <p>Он администратор сайта</p>
                    {% else %}
                        <p>Он пользователь без прав модерации</p>
                    {% endif %}
                </td>
                <td class="align-middle text-center">
                    <a href="/edit/{{ item['id'] }}" title="Редактировать новость {{ item['title'] }}">&#9998;</a>
                </td>
                <td class="align-middle text-center">
                    <a href="/del/{{ item['id'] }}" title="Удалить новость {{ item['title'] }}">&#128465;</a>
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}
